.disable {
  cursor:not-allowed !important;
}
.disable tr {
  pointer-events: none;
}
.Menu {
  min-height:100vh;
  margin:0;
  border-right:1px solid #ccc;
}
.Body {
  overflow-y:scroll;
  height:100vh;
}
.matrixWrap {
  width:100%;
  margin:30px 0;
  cursor:pointer;
}
.matrixColumn {
  position:relative;
  text-align:center;
  background-color:#BDBDBD;
  padding:15px 0 !important;
  color:transparent;
}
.piece {
    position: absolute;
    height: 30px;
    top: calc(50% - 15px);
    width: 30px;
    left: calc(50% - 15px);
    background-color: black;
    border-radius: 60%;
    box-shadow:1px 1px 1px black;
}
.piece-alt {
  background-color:white;
}
.Row {
  content: '';
  background: linear-gradient(to top,
    rgb(189, 189, 189) 0%,
    rgb(189, 189, 189) calc(50% - 1px),
    rgb(255, 0, 0) 50%,
    rgb(189, 189, 189) calc(50% + 1px),
    rgb(189, 189, 189) 100%);
}
.Col {
  content: '';
  background: linear-gradient(to left,
    rgb(189, 189, 189) 0%,
    rgb(189, 189, 189) calc(50% - 1px),
    rgb(255, 0, 0) 50%,
    rgb(189, 189, 189) calc(50% + 1px),
    rgb(189, 189, 189) 100%);
}
.DR {
  content: '';
  background: linear-gradient(to top right,
    rgb(189, 189, 189) 0%,
    rgb(189, 189, 189) calc(50% - 1px),
    rgb(255, 0, 0) 50%,
    rgb(189, 189, 189) calc(50% + 1px),
    rgb(189, 189, 189) 100%);
}
.DL {
  content: '';
  background: linear-gradient(to top left,
    rgb(189, 189, 189) 0%,
    rgb(189, 189, 189) calc(50% - 1px),
    rgb(255, 0, 0) 50%,
    rgb(189, 189, 189) calc(50% + 1px),
    rgb(189, 189, 189) 100%);
}
.hoverB:hover::after {
    height: 30px;
    top: calc(50% - 15px);
    width: 30px;
    left: calc(50% - 15px);
    background-color: black;
    border-radius: 60%;
    position: absolute;
    z-index: 5;
    content: "";
}
.hoverW:hover::after {
    height: 30px;
    top: calc(50% - 15px);
    width: 30px;
    left: calc(50% - 15px);
    background-color: white;
    border-radius: 60%;
    position: absolute;
    z-index: 5;
    content: "";
}